*{
	padding: 0;
	margin:0;
}
.main{
	height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.heading{
	font-family: "arial";
	color: #4267B2;
	font-size: 48px;
	position: absolute;
	width: 100%;
	text-align: center;
}
.arena{
	background: #000;
	width: 770px;
	height: 480px;
	position: relative;
}
.lead{
	background: #763FF3;
	color: #eee;
	height: 480px;
	width: 200px;
	font-family: "sans-serif";
	border-radius: 5px;
	box-shadow:#777 0px 5px 10px ;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	transition: width 1s;
	transition: height 2s;
}
.restart{
	cursor: pointer;
	color: #FE1C03;
	text-decoration: underline;
	font-size: 28px;
}
.timer div{
	font-size: 24px;
}
.sc{
	font-size: 24px;
}

.start{
	position: absolute;
	width: 300px;
	height: 100px;
	left: calc(50% - 150px);
	top: calc(50% - 50px);
	background: #00BA8B;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #0C2834;
}
#start-btn{
	background: #0C2834;
	border: none;
	font-size: 18px;
	font-family: "arial";
	color: #ccc;
	padding: 5px 10px;
	cursor: pointer;
}
.ball{
	position: absolute;
	border-radius: 50%;
	opacity: .5;
	cursor: pointer;
	border: none;
}
#ball0{
	background: #BB1124;
}
#ball1{
	background: #3EA96A;
}
#ball2{
	background: #3393BB;
}
#ball3{
	background: #753A7B;
}
#ball4{
	background: #E3602F;
}
#ball5{
	background: #DCA239;
}
#ball6{
	background: #F0359C;
}
#ball7{
	background: #F0FF00;
}
/*#ball8{
	background: white;
	width: 45px;
	opacity: 1;
	box-sizing: border-box;
	text-align: center;
	color: #0C2834;
	font-family: "arial";
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 45px;
	border-radius: 50%;
	display: none;
	font-weight: 700;
}*/